{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page wrapper -->
<div class="min-h-screen bg-gray-100 flex items-center justify-center px-4 py-10">

  <!-- Card -->
  <div class="w-full max-w-md rounded-3xl shadow-xl backdrop-blur-sm bg-gradient-to-b from-[#cf1d5e] to-[#fcd3a4]">
    
    <!-- Header / Brand -->
    <div class="px-6 pt-8 pb-6 text-center">
      <!-- <img
        src="{% static 'images/Ladybug_trns.png' %}"
        alt="Ladybug Atelier logo"
        class="mx-auto h-16 w-16 rounded-2xl shadow-sm"
      /> -->
      <h1 class="mt-4 text-4xl font-bold tracking-tight text-gray-100">Ladybug Atelier</h1>
      <p class="mt-1 text-sm text-gray-100">Where Every Stitch is Just for You</p>
    </div>

    <!-- Links -->
    <div class="px-4 pb-6">
        <h1> Launching Soon...</h1>
    </div>

  </div>
</div>

{% endblock %}
